html {
  /*以iPhone6为基准 375/15px = 25*/
  font-size: 15px;
}

.my_regist {
  /* background-color: rgba(100, 149, 237, 0.8);*/
  background-image: url(../../images/2.jpg);
  background-size: 100% 100%;
}

.my_input_all {
  width: 90%;
  position: relative;
  left: 5%;
}

.ui-content {
  position: relative;
  top: 10rem;
  left: 5%;
  background-color: rgba(220, 220, 220, 0.5);
  margin-right: 10%;
}

.my_re_button {
  margin-left: 33%;
}

.my_re_input {
  display: inline-block;
  width: 50%;
  position: relative;
}

.my_co_button {
  display: inline-block;
  margin-left: 2px;
}
