<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.ObjectMapper">
    <resultMap type="com.share.pojo.Object_1" id="ObjectInfoResult">
        <id column="oid" property="oid"/>
        <result property="object" column="object"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="pwd" column="pwd"/>
        <result property="condition" column="condition"></result>
    </resultMap>

    <insert id="IncObj" parameterType="com.share.pojo.Object_1">
    INSERT into Objects values(#{oid},#{object},#{amount},#{price},#{condition});
</insert>

    <select id="ObjInfo" parameterType="com.share.pojo.Object_1" resultMap="ObjectInfoResult">
        SELECT * from Objects where oid=#{oid}
    </select>

    <select id="searchGoodsName" parameterType="com.share.pojo.Object_1" resultMap="ObjectInfoResult">
        select * from Objects where object like CONCAT('%',#{object},'%')
    </select>
    </mapper>