<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.ObjectInfoMapper">

    <sql id="selectAllInfo">
        select id,objectId,sub_code as code,password,condition,remark
    </sql>

    <select id="getSubObjectInfo" parameterType="com.share.pojo.po.SubObjectInfoPo" resultType="com.share.pojo.ObjectInfo">
        select s.id,s.objectId,s.sub_code as code,s.password,s.condition,s.remark from objectTable s
        where s.objectId = #{objectId} and  s.sub_code = #{code};
    </select>

    <select id="getSubObjectCode" parameterType="java.lang.Long" resultType="java.lang.String">
        select s.sub_code from objectTable s where s.id = #{id};
    </select>

    <update id="fixObject" parameterType="com.share.pojo.po.SubObjectInfoPo">
        UPDATE objectTable
        set `condition` = 1 where objectId = #{objectId} and sub_code = #{code};
    </update>
</mapper>