<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.mapper.ObjectMapper">


    <insert id="IncObj" parameterType="com.share.pojo.Object_1">
    INSERT into Objects(code,name,price,remark) values(#{code},#{name},#{price},#{remark});
    </insert>

    <select id="ObjInfo" parameterType="com.share.pojo.Object_1" resultType="com.share.pojo.Object_1">
        SELECT * from Objects where id=#{id}
    </select>

    <select id="searchGoodsName" parameterType="java.lang.String" resultType="com.share.pojo.Object_1">
        select * from Objects where name like CONCAT('%',#{name},'%')
    </select>
    </mapper>